@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.card-qrcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 470px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  text-align: center;
}

.card-image {
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
  width: 270px;
  height: 270px;
  border-radius: 15px;
}

.card-qrcode h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);

}

.card-qrcode p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(119, 119, 119);
  
}
